*:link , *:visited , *:hover ,  *:active {
    text-decoration: none;
}

*:link , *:visited {
    color: #983CE9;
}


.heading {
    font-family: 'Montserrat' , sans-serif;
    /* color: #983CE9; */
}

.buttonText {
    font-family: "Work Sans" , sans-serif;
}

.bodyText {
    font-family: "Work Sans" , serif;
    line-height: 1.8;
}

:root {
    /* margin */
    --px4-space: 0.25rem;
    --px8-space: 0.5rem;
    --px16-space: 1rem;
    --px48space: 3rem;
    --px64-space: 4rem;
    /* text size */
    --px20-size: 1.25rem;
    --px36-size: 2.25rem;
    --px-48-size: 3rem;
}

* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    caret-color: #983CE9;
}

*::selection {
    background-color: #bd84f0;
    color: #ffffff;
}

main , header {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 0px !important;
}

.nav {
    overflow: auto;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

/* .logo {
    display: inline;
    float: left;
}

#logo {
    font-weight: 900;
}
*/
.navLink {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
} 


.container {
    position: relative;
    height: 30rem;
    width: 100%;
    margin-bottom: 48px;
}

.aboutDiv {
    position: relative;
    display: flex;
    border-radius: 8px;
    background-color: #F9F1EF;
    width: 100%;
    height: 100%;
    transition: ease-in-out 500ms;
    margin-bottom: 48px;
}

.aboutDiv:hover  {
    transform: scale(1.02);
    transition: ease-in-out 500ms;
}

/* .aboutImg {
    width: 100%;
} */

.containerLeft {
    background: url("/components/profilePic.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 35%;
    height: 100%;
}

.containerHalf {
        /* float: right; */
        width: 60%;
        padding: 2rem;
        padding-right: 0px;
        padding-left: 0px;
    }

.nameDiv {
    display: flex;
    height: inherit;
}

.nameHeading {
    flex: 1 1 75%;  
    /* background: #983CE9; */
    text-align: center;
    margin-bottom: 8%;
    color: #983CE9;
    /* font-size: 1.05rem; */
}

.selfTaught {
    font-size: 0.75rem;    
    color: #000000;
    position: relative;
}

.selfTaught::before {
    content: ' "A self Taught ux Designer"a ';
    position: absolute;
    background-color: #e26eff60;
    height: 100%;
    bottom: 0;
    color: rgba(95, 158, 160, 0);
}

.downloadCV {
    flex: 1 1 25%;
    text-align: center;
    margin-top: 0.8rem;
}

.interestTagline {
    /* float: right; */
    width: 75%;
    color: #000000;
    /* text-align: center; */
    margin-bottom: 2%;    
    font-size: 1.4rem;
    position: relative;
}

#movies , #science , #philosophy {
    display: inline-block;
}

/* #movies::before  {
    content: 'Movies';
    color: #f9f1ef00;
    background-color: #e26eff60;
    height: 0.8rem;
    position: absolute;
}

#science::before {
    content: 'Science';
    color: #f9f1ef00;
    background-color: #e26eff60;
    height: 0.8rem;
    position: absolute;
}

#philosophy::before {
    content: 'Philosophy';
    color: #f0380a00;
    background-color: #e26eff60;
    height: 0.8rem;
    position: absolute;
} */

.interestInfo {
    width: 80%;
    text-align: justify;
    margin-bottom: 24px;
}

.cardInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.card2Button:hover {
    transform: scale(1.03);
    box-shadow: 2px 6px 20px 0px rgba(0, 0, 0, 0.158); 
    transition: ease-in-out 300ms;
}
.containerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.card2Button {
    width: 35%;
    height: 5rem;
    border: 0.2rem solid #983CE9;
    /* background-color: #983CE9; */
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #983CE9;
    font-size: 1.1rem;
    cursor: pointer;
    transition: ease-in-out 300ms;
}

#footer{
    background: #fff;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.103);
    padding: 0 5%;
}

.footerDiv {
    display: flex;
    flex-flow: row nowrap;
    height: fit-content;
    /* padding: 1rem; */
    width: 100%;
    padding-bottom: 0px;
}

#col1 {
    flex: 1 1 50%;
    padding: 1rem;
}

#col2 {
    flex: 1 1 50%;
    padding: 1rem;
}

.thanksText {
    font-size: var(--px20-size);
    font-size: 1.125rem;
    font-family: "Montserrat";
    font-weight: 600;
}

.fontChoice {
    font-family: "Marcellus" , sans-serif;
    font-size: 0.9rem;
    color: #983CE9;
}

.socialMedia {
    text-align: center;
    font-size: 1.125rem;
    font-family: "Montserrat";
    font-weight: 600;
    margin-bottom: 2rem;
}

.socialLinks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkDiv {
    display: inline-block;
    margin: 0px 4px 0 4px;
    height: 3rem;
    width: 3rem;
    background-color: #983CE9;
    border-radius: 8px;
}

.linkDiv {
    padding : 0.19rem;
}
/* @media only screen and (min-width:1201px) {

    
    .workBanner {
        height: 65vh;
    }

} */


@media only screen and (max-height:450px) {
    .container {
        height: 30rem;
    }
}

@media only screen and (min-width: 996px) {

    .selfTaught {
        font-size: 1rem;    
    }

    .container {
        position: relative;
        height: 35rem;
        width: 100%;
        margin-bottom: 48px;
    }
}

@media only screen and (max-width: 995px) {
    header, main {
        margin: 2rem;
    }

    .container {
        position: relative;
        height: 33rem;
    }
    
    .contactHome {
        height: 2rem;
        width: 25%;
    }

    .footerDiv {
        flex-flow: column nowrap;
        align-items: center;
    }

    .socialMedia {
        margin-bottom: 1rem;
    }
    
    .linkDiv {
        height: 2rem;
        width: 2rem;
    }

}

@media only screen and (max-width:769px) {
    
    #nav {
        flex-flow: column nowrap;
        align-items: center;
    }
    
    .container {
        position: relative;
        /* height: vh; */
        width: 100%;
        margin-bottom: 48px;
    }
    .aboutDiv {
        display: flex;
        justify-content: center;
    }

    /* .containerHalf {
        float: none;
        width: 80%;
        padding: 2rem;
        padding-right: 0px;
        padding-left: 0px; 
    } */


    .containerHalf {
        float: none;
        width: 80%;
        /* padding: 2rem; */
    }

    .containerLeft {
        display: none;
        visibility: hidden;
    }
    .interestTagline {
        /* float: right; */
        width: 100%;
        color: #000000;
        /* text-align: center; */
        margin-bottom: 5%;    
        font-size: 1.4rem;
        position: relative;
    }

    .interestInfo {
        width: 100%;
        text-align: justify;
        margin-bottom: 24px;
    }

    .nameHeading {
        flex: 1 1 75%;  
        /* background: #983CE9; */
        text-align: center;
        margin-bottom: 2%;
        color: #983CE9;
    }

    .nameDiv {
        flex-flow: column nowrap;
    }

    .card2Button {
        width: 40%;
        height: 4.5rem;
        text-align: center;
    }
}

@media only screen and (max-width: 576px) {

    .container {
        height: auto;
    }
        
    .workImage , .workImage2 {
        position: static;
    }

    .card2Button {
        width: 60%;
        font-size: 0.8rem;
    }
}