/* @font-face {
    font-family: 'Megante';
    src: url("/components/Meganté.ttf") format(truetype);
    font-weight: normal;
} */

* {
    box-sizing: border-box;
    caret-color: #983CE9;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

*:link , *:visited , *:hover ,  *:active {
    text-decoration: none;
}

*:link , *:visited {
    color: #983CE9;
}

*::selection {
    background-color: #bd84f0;
    color: #ffffff;
}

.heading {
    font-family: 'Montserrat' , sans-serif;
    color: #983CE9;
}

.buttonText {
    font-family: "Work Sans" , sans-serif;
}

.bodyText {
    font-family: "Work Sans" , serif;
    line-height: 1.8;
}

* { 
    margin: 0px;
    padding: 0px;
}

/* body {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 0px !important;
} */

header , main {
    margin-left: 15%;
    margin-right: 15%;
}

header nav a:hover {
    color: #f578b9;
    transition: ease 400ms;
}

.nav {
    overflow: auto;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.logoImg {
    height: 3rem;
}

#navBar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navLink {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
} 

.heroContainer {
    height: 70vh;
    width: 100%;
    margin-bottom: 52px;
}


.heroDiv {
    height: 100%;
    width: 100%;
    background-color: #F9F1EF;
    position: relative;
}

.heroImage {
    position: relative;
    bottom: 2%;
    height: 60%;
    display: block;
    margin: 0 auto;
    z-index: 10;
    -webkit-animation: updown 1s infinite alternate;
    animation: updown 1s infinite alternate;
}




@keyframes updown {
    0% {
        bottom: -10%;
    }
    100% {
        bottom: -8%;
    }
}
.aboutDiv , .horizontalRule , .projectInfo , .problemsDiv , .goalsDiv , .processContainer , .problemsIa , .wireframeContainer , .prototypeContainer {
    margin-bottom: 52px;
    padding: 0rem;
}

.roleDiv , .textIa {
    margin-bottom: 24px;
}

.headingAbout , .headingProblems , .headingGoals , .headingProcess , .headingIa , .headingWireframe , .headingPrototype{
    padding-left: 0rem;
    margin-bottom: 16px;
}

.headingPrototype , .headingWireframe {
    margin-top: 48px;
    margin-bottom: 24px;
}
.textAbout , .textProblems , .textGoals , .textIa , .prototypeImages , .wireframeImages , .IaPhoto , .userPersona, .IaPhoto   {
    padding-left: 2rem;
    text-align: justify;    
}

.memeProblemsImg , .memeIaImg {
    height: 50%;
    width: 50%;
    display: block;
    margin: 0 auto;
}

.roleDiv {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* text-align: center; */
    flex-flow: column nowrap;
}

.myRole , .memeRole {
    flex: 1 1 50%;
    background-color: #F9F1EF;
    padding: 1rem;
}

.memeRole {
    width: 100%;
}

.memeProblems , .memeInformation {
    margin-top: 48px;
}

.myRoleHeading {
    padding-left: 0rem;
}

.role {
    padding-left: 0rem;
}


.memeRoleImg {
    width: 60%;
    display: block;
    margin: 0 auto;
}

.projectInfo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.clientDiv , .completedDiv , .toolsDiv {
    flex: 1 1 33%;
    padding-left: 2rem;
}

.goalsDiv {
    background-color: #F9F1EF;
    padding: 1rem;
}

.horizontalRule {
    height: 25rem;
    background: url('/components/Projects/CityReads/horizontalBar.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #983CE9;
}

.IaPhoto {
    height: 100%;
    width: 100%;
}

.IaPhotoImg {
    width: 85%;
}

.wireframeImages{
    width: 100%;
    height: auto;
}

.wireframe1 {
    width: 60%;
    /* margin-left: 8px;
    margin-right: 8px; */
}

.prototype {
    width: 75%;
}
#footer{
    background: #fff;
    box-shadow: 0px 0px 34px 2px rgba(0, 0, 0, 0.103);
    padding: 0 5%;

}

.footerDiv {
    display: flex;
    flex-flow: row nowrap;
    height: fit-content;
    /* padding: 1rem; */
    width: 100%;
    padding-bottom: 0px;
}

#col1 {
    flex: 1 1 50%;
    padding: 1rem;
}

#col2 {
    flex: 1 1 50%;
    padding: 1rem;
}

.thanksText {
    font-size: var(--px20-size);
    font-size: 1.125rem;
    font-family: "Montserrat";
    font-weight: 600;
}

.fontChoice {
    font-family: "Marcellus" , sans-serif;
    font-size: 0.9rem;
    color: #983CE9;
}

.socialMedia {
    text-align: center;
    font-size: 1.125rem;
    font-family: "Montserrat";
    font-weight: 600;
    margin-bottom: 2rem;
}

.socialLinks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkDiv {
    display: inline-block;
    margin: 0px 4px 0 4px;
    height: 3rem;
    width: 3rem;
    background-color: #983CE9;
    border-radius: 8px;
}

@media only screen and (max-height:500px) {
    .heroContainer {
        height: 25rem;
    }

    header , main {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}


@media only screen and (max-width: 575px) {
    header , main {
        margin-left: 2rem;
        margin-right: 2rem;
    }



    .heroDiv {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .heroImage {
        position: relative;
        bottom: 0%;
        height: 60%;
    }

    .footerDiv {
        flex-flow: column nowrap;
        align-items: center;
    }

    .socialMedia {
        margin-bottom: 1rem;
    }
    
    .linkDiv {
        height: 2rem;
        width: 2rem;
    }
}

@media only screen and (min-width: 576px) {
    /* body {
        margin: 2rem;
    } */

    .heroDiv {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .heroImage {
        position: relative;
        bottom: 0%;
        height: 85%;
    }

    .footerDiv {
        flex-flow: column nowrap;
        align-items: center;
    }

    .socialMedia {
        margin-bottom: 1rem;
    }
    
    .linkDiv {
        height: 2rem;
        width: 2rem;
    }

}

@media only screen and (max-width: 767px) {
    #nav {
        flex-flow: column nowrap;
        align-items: center;
    }
}

@media only screen and (min-width:768px) {
    /* body {
        margin: 2rem;
        margin-top: 0%;
    } */

    .heroImage {
        position: relative;
        bottom: 0%;
        height: 95%;
    }

    .aboutDiv , .horizontalRule , .projectInfo , .problemsDiv , .goalsDiv , .processContainer , .problemsIa , .wireframeContainer , .prototypeContainer {
        margin-bottom: 52px;
        padding: 1rem;
    }
    
    .headingAbout , .headingProblems , .headingGoals , .headingProcess , .headingIa , .headingWireframe , .headingPrototype{
        padding-left: 0.5rem;
        margin-bottom: 16px;
    }

    .textAbout , .textProblems , .textGoals , .textIa , .prototypeImages , .wireframeImages , .IaPhoto , .userPersona{
        padding-left: 5rem;
        text-align: justify;    
    }
    
    .roleDiv {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        /* text-align: center; */
        flex-flow: row nowrap;
    }

    .myRole , .memeRole {
        flex: 1 1 50%;
        background-color: #F9F1EF;
        padding: 0.5rem;
    }

    .myRoleHeading {
        padding: 0.5rem;
        margin-bottom: 16px;
    }

    .role {
        padding-left: 5rem;
    }


    .projectInfo {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }

    .clientDiv , .completedDiv , .toolsDiv {
        flex: 1 1 33%;
        padding-left: 0.5rem;
    }

    .horizontalRule {
        height: 15rem;
    }

    .IaPhoto {
        /* height: 25rem; */
        height: 100%;
        width: 100%;
    }
    .footerDiv {
        flex-flow: row nowrap;
        align-items: center;
    }

    .socialMedia {
        margin-bottom: 1rem;
    }
    
    .linkDiv {
        display: inline-block;
        margin: 0px 4px 0 4px;
        height: 3rem;
        width: 3rem;
        background-color: #983CE9;
        border-radius: 8px;
    }
}


@media only screen and (min-width: 995px) {
    
    header , main {
        margin-left: 15%;
        margin-right: 15%;
    }

    .heroDiv {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .heroImage {
        position: relative;
        bottom: -10%;
        height: 110%;
    }

    .aboutDiv , .horizontalRule , .projectInfo , .problemsDiv , .goalsDiv , .processContainer , .problemsIa , .wireframeContainer , .prototypeContainer {
        margin-bottom: 52px;
        padding: 1rem;
    }
    
    .headingAbout , .headingProblems , .headingGoals , .headingProcess , .headingIa , .headingWireframe , .headingPrototype{
        padding-left: 5rem;
        margin-bottom: 16px;
    }

    .textAbout , .textProblems , .textGoals , .textIa , .prototypeImages , .wireframeImages , .IaPhoto , .userPersona{
        padding-left: 15rem;
        text-align: justify;    
    }
    
    .roleDiv {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        /* text-align: center; */
        flex-flow: row nowrap;
        padding : 1rem;
    }

    .myRole {
        flex: 1 1 50%;
        background-color: #F9F1EF;
        padding-left: 5rem;
    }

    .myRoleHeading {
        margin-bottom: 0px;
    }
    .projectInfo {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }

    .role {
        padding-left: 10rem;
    }

    .clientDiv , .completedDiv , .toolsDiv {
        flex: 1 1 33%;
        padding-left: 5rem;
    }

    .IaPhoto {
        /* height: 25rem; */
        height: 100%;
        width: 100%;
    }
    .footerDiv {
        flex-flow: row nowrap;
        align-items: center;
    }

    .socialMedia {
        margin-bottom: 1rem;
    }
    
    .linkDiv {
        display: inline-block;
        margin: 0px 4px 0 4px;
        height: 3rem;
        width: 3rem;
        background-color: #983CE9;
        border-radius: 8px;
    }
}


@media only screen and (min-width:1200px) {

    .memeRoleImg {
        width: 40%;
        display: block;
        margin: 0 auto;
    }

    .memeProblemsImg , .memeIaImg {
        height: 30%;
        width: 30%;
        display: block;
        margin: 0 auto;
    }
}  


p.personaName {
    flex : 1 1 50%;
}

.personaSamuel {
    width: 70%;
    border-radius: 8px;
    margin-bottom: 24px;
    -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.192);
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.192);
}

.personaText {
    margin-bottom: 24px;
}

.IaSktech {
    width: 100%;
}

.IaSketchImg {
    width: 100%;
}

.finalDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: -4rem;
}

.goalsAccom {
    width: 90%;
    
}

.painPoint1::before , .goal1::before {
        content:"• ";
}

.linkDiv {
    padding : 0.19rem;
}

.processRoadmap {
    width: 100%;
}

.processImg {
    width: 95%;
}