*:link , *:visited , *:hover ,  *:active {
    text-decoration: none;
}

*:link , *:visited {
    color: #983CE9;
}

a.contactMeLink {
    color: #fff;
}


.heading {
    font-family: 'Montserrat' , sans-serif;
    /* color: #983CE9; */
}

.buttonText {
    font-family: "Work Sans" , sans-serif;
}

.bodyText {
    font-family: "Work Sans" , serif;
    line-height: 1.8;
}

:root {
    /* margin */
    --px4-space: 0.25rem;
    --px8-space: 0.5rem;
    --px16-space: 1rem;
    --px48space: 3rem;
    --px64-space: 4rem;
    /* text size */
    --px20-size: 1.25rem;
    --px36-size: 2.25rem;
    --px-48-size: 3rem;
}

* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    caret-color: #983CE9;
}

*::selection {
    background-color: #bd84f0;
    color: #ffffff;
}

main , header {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 0px !important;
}

.nav {
    overflow: auto;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

/* .logo {
    display: inline;
    float: left;
}

#logo {
    font-weight: 900;
}
*/
.navLink {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
} 

#heroContainer {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

/* #heroHeadingText:hover {
    animation: hoverGradient ease-in-out 2000ms;
    animation-iteration-count: infinite;
    color: #fff;
    transition: ease-in-out 900ms;
} */

@keyframes dance {
    0% {top : 34%}
    100% {top : 37%}
}

#heroImageContainer {
    margin-right: 0% !important;
    transition: ease-in-out 1s;
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.heroImage {
    width: 100%;
}

#heroImageContainer:hover {
    transform: scale(0.95);
    transition: ease-in-out 500ms;
    animation: change-background ease-in-out 400ms ,
                largeSmall ease-in-out 600ms;
    animation-iteration-count: infinite;
    border-radius: 16px;

}

#heroHeading {
    flex: 1 1 50%;
    text-align: center;
    cursor: default;
    
}

#attractive , #usable {
    font-size: 2.5rem;
    /* user-select: none; */
}

#heroHeadingText {
    font-size: 2.1rem;
    /* user-select: none; */
}

#hemant {
    color: #FF2D9B;
}

#attractive , #usable {
    font-family: "DM Serif Display" , serif;
    color: #983CE9;
}

#attractive:hover , #usable:hover {
    color: #fff;
    animation: change-background 600ms;
    animation-iteration-count: infinite;
}

@keyframes change-background {
        0% {
            background-color: #ba6cff;
        }
        40%{
            background-color: #b662ff;
        }
        100% {
            background-color: #f578b9;
        }
        }

    @keyframes largeSmall {
        0% {
            transform: scale(0.999);
        }

        100% {
            transform: scale(1.025);
        }
    }

#workHeadingContainer {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

#workHomeLogo {
    height: 20px;
    float: left;
}

#workHomeHeading {
    font-size: 1.125rem;
}

.workBanner {
    position: relative;
    border-radius: 8px;
    background-color: #F9F1EF;
    height: 25rem;
    width: 100%;
    margin-bottom: 48px;
    transition: ease-in-out 500ms;
    cursor: pointer;
    user-select: none;
}

.workBanner:hover  {
    transform: scale(1.02);
    transition: ease-in-out 500ms;
}

.workBanner:hover >.workImage , .workBanner:hover >.workImage2  {
    transform: scale(1.06);
    transition: ease-in-out 500ms;
}

.workMeme {
    margin-bottom: 48px;
}

.workMemeImg {
    width: 20%;
    display: block;
    margin: 0 auto;
}

.workImage {
    position: absolute;
    height: 85%;
    top: 5%;
    left: 35%;  
    transition: ease-in-out 500ms;
}

.workImage2 {
    position: absolute;
    height: 70%;
    top: 25%;
    left: 15%;
    transition: ease-in-out 500ms;
}

.cardProjectHome {
    height: 5rem;
    width: 25%;
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #983CE9;
    font-size: 1.1rem;
    cursor: pointer;
    transition: ease-in-out 300ms;
    z-index: 100;
}

.cardProjectHome:hover {
    transform: scale(1.03);
    /* box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.116);  */
    transition: ease-in-out 300ms;
}

.workCards {
    margin-bottom: 48px;
    position: relative;
    height: 100%;
}

.workCard1 {
    position: relative;
    width: 50%;
    height: 20rem;
    border-radius: 8px;
    background-color: rgb(255, 196, 196);
    margin-bottom: 48px;
    background: url("/components/Landing-\ Signed\ in.png");
    background-size: cover;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.171);
}

.card1Button {
    height: 6rem;
    width: 70%;
    position: absolute;
    top: calc(50% - 3rem);
    left: 90%;
    background-color: #983CE9;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: ease-in-out 300ms;
}

.workCard2 {
    position: relative;
    right: 0px;
    width: 50%;
    height: 20rem;
    border-radius: 8px;
    background-color: rgb(255, 196, 196);
    margin-bottom: 2rem;
    margin-left: auto;
    background: url("/components/Landing\ page\ _\ Hover\ project.png");
    background-size: cover;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.171);
}

/* .workCard1:hover , .workCard2:hover {
    transform: scale(1.02);
    box-shadow: 2px 6px 20px 0px rgba(0, 0, 0, 0.123);
    transition: ease-in-out 300ms;
} */

.card1Button:hover , .card2Button:hover {
    transform: scale(1.03);
    box-shadow: 2px 6px 20px 0px rgba(0, 0, 0, 0.158); 
    transition: ease-in-out 300ms;
}

.card2Button {
    height: 6rem;
    width: 70%;
    position: absolute;
    top: calc(50% - 3rem);
    right: 90%;
    background-color: #983CE9;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: ease-in-out 300ms;
}

.seeAllWork {
    text-align: center;
    margin-bottom: 16px;
}

#pinkTextContainer {
    height: 48px;
    background-color: #FF2D9B;
    font-family: "Marcellus" , sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1rem;
}


.contactHome {
    background-color: #983CE9;
    color: #fff;
    font-family: "Montserrat" , sans-serif;
    border-radius: 8px;
    height: 2.8rem;
    width: 20%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: ease-in-out 300ms;
}

.contactHome:hover {
    transform: scale(1.02);
    border-radius: 8px;
    box-shadow: 2px 6px 20px 0px rgba(0, 0, 0, 0.158); 
    transition: ease-in-out 300ms;
}

#footer{
    background: #fff;
    box-shadow: 0px 0px 34px 2px rgba(0, 0, 0, 0.103);
    padding: 0 5%;
}

.footerDiv {
    display: flex;
    flex-flow: row nowrap;
    height: fit-content;
    /* padding: 1rem; */
    width: 100%;
    padding-bottom: 0px;
}

#col1 {
    flex: 1 1 50%;
    padding: 1rem;
}

#col2 {
    flex: 1 1 50%;
    padding: 1rem;
}

.thanksText {
    font-size: var(--px20-size);
    font-size: 1.125rem;
    font-family: "Montserrat";
    font-weight: 600;
}

.fontChoice {
    font-family: "Marcellus" , sans-serif;
    font-size: 0.9rem;
    color: #983CE9;
}

.socialMedia {
    text-align: center;
    font-size: 1.125rem;
    font-family: "Montserrat";
    font-weight: 600;
    margin-bottom: 2rem;
}

.socialLinks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkDiv {
    display: inline-block;
    margin: 0px 4px 0 4px;
    height: 3rem;
    width: 3rem;
    background-color: #983CE9;
    border-radius: 8px;
}

.linkDiv {
    padding : 0.19rem;
}

@media only screen and (min-width: 996px) {

    #heroHeadingText , #attractive , #usable {
        font-size: 2rem;
    }
    
    .workBanner {
        height: 30rem;
        /* width: 20rem; */
    }

    .workCard1 , .workCard2 {
        height: 16rem;
    }

    .card1Button , .card2Button {
        height: 4rem;
        width: 55%;
        top: calc(50% - 1.75rem);
    }

    .cardProjectHome {
        height: 3.5rem;
        width: 25%;
    }

    .contactHome {
        height: 2.8rem;
    }

}

@media only screen and (max-width: 995px) {
    main , header {
        margin: 2rem;
    }

    .workBanner {
        height: 20rem;
    }

    .workCard1 , .workCard2 {
        height: 17rem;
        width: 60%;
    }

    .card1Button , .card2Button {
        height: 4rem;
        width: 55%;
        top: calc(50% - 2rem);
    }

    .cardProjectHome {
        height: 3.5rem;
        width: 25%;
    }
    
    .contactHome {
        height: 2.8rem;
        width: 25%;
    }

    .footerDiv {
        flex-flow: column nowrap;
        align-items: center;
    }

    .socialMedia {
        margin-bottom: 1rem;
    }
    
    .linkDiv {
        height: 2rem;
        width: 2rem;
    }
}

@media only screen and (max-width:768px) {
    
    #nav {
        flex-flow: column nowrap;
        align-items: center;
    }

    #heroContainer {
        flex-flow: column nowrap;
        height: 70vh;
    }

    #heroImageContainer {
        order: 2; 
        flex: 1 1 auto;
    }

    .heroImage {
        width: 60%;
    }

    #heroHeading {
        order: -1;
        flex: 1 1 auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        align-items: center;
    }

    #heroHeadingText , #attractive , #usable {
        font-size: 1.5rem;
    }

    .workBanner {
        height: 16rem;
    }

    .workCard1 , .workCard2 {
        height: 18rem;
        width: 100%;
    }

    .contactHome {
        height: 3rem;
        width: 40%;
    }

    .card1Button , .card2Button {
        height: 3rem;
        width: 60%;
        top: calc(50% - 1.5rem);
        left: 10%;
        top: 75%
    }

    .cardProjectHome {
        height: 3rem;
        width: 35%;
    }

    .workMemeImg {
        width: 70%;
    }
    
}

@media only screen and (max-width: 576px) {

    .workBanner {
        height: 10rem;
    }

    .workCard1 , .workCard2 {
        height: 15rem;
    }
    
    .contactHome {
        height: 3rem;
        width: 45%;
    }

    .card1Button , .card2Button {
        height: 3rem;
        width: 70%;
        top: calc(50% - 1.5rem);
        font-size: 0.8rem;
        left: 10%;
        top: 75%;
    }

    .cardProjectHome {
        height: 3rem;
        width: 50%;
        font-size: 0.8rem;
        text-align: center;
    }

    .contactHome {
        font-size: 0.8rem;
    }

    #pinkTextContainer {
        font-size: 0.8rem;
    }

}
