
:root {
    /* margin */
    --px4-space: 0.25rem;
    --px8-space: 0.5rem;
    --px16-space: 1rem;
    --px48space: 3rem;
    --px64-space: 4rem;
    /* text size */
    --px20-size: 1.25rem;
    --px36-size: 2.25rem;
    --px-48-size: 3rem;
}

.heading20px {
    font-size: var(--px20-size);
}

.heading36px {
    font-size: var(--px36-size);
}

.heading48px {
    font-size: var(--px48-size);
}

.margin4px {
    font-size: var(--px4-space);
}

.margin8px {
    font-size: var(--px8-space);
}

.margin16px {
    font-size: var(--px16-space);
}

.margin48px {
    font-size: var(--px48-space);
}

.margin64px {
    font-size: var(--px64-space);
}

